* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Netflix", "sans-serif";
}

@font-face {
  font-family: Netflix;
  src: url("../font/NetflixSans_W_Rg.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Netflix;
  src: url("../font/NetflixSans_W_Md.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Netflix;
  src: url("../font/NetflixSans_W_Blk.woff2");
  font-weight: 600;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
}

.header {
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/c31c3123-3df7-4359-8b8c-475bd2d9925d/96abfe55-c1a4-4420-8442-9a360b3ad96d/VN-vi-20231225-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.header .header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.header .header-content {
  position: relative;
  z-index: 10;
  max-width: 1170px;
  margin: 0 auto;
  height: 200px;
}
.header .header-content .header-content__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.header .header-content .header-content__nav .header-content__nav--logo {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
}
.header .header-content .header-content__nav .header-content__nav--action {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .header-content .header-content__nav .header-content__nav--action .header-content__nav--action--wrap-select {
  position: relative;
  width: 148px;
  height: 32px;
}
.header .header-content .header-content__nav .header-content__nav--action .header-content__nav--action--wrap-select .header-content__nav--action-select-icon {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}
.header .header-content .header-content__nav .header-content__nav--action .header-content__nav--action--wrap-select .header-content__nav--action--select-arrow {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
}
.header .header-content .header-content__nav .header-content__nav--action .header-content__nav--action--wrap-select .header-content__nav--action-select {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 3px;
  line-height: 1.25rem;
  border-width: 1px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  appearance: none;
  position: relative;
}
.header .header-content .header-content__nav .header-content__nav--action .header-content__nav--action--wrap-select .header-content__nav--action-select option {
  color: #000;
}
.header .header-content .header-content__nav .header-content__nav--action .header-content__nav--action-login {
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  background-color: #e50914;
  width: 103px;
  height: 32px;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.1s linear;
}
.header .header-content .header-content__nav .header-content__nav--action .header-content__nav--action-login:hover {
  cursor: pointer;
  background: rgb(193, 17, 25);
}
.header .header-content .header-content__main {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
}
.header .header-content .header-content__main .header-content__main--title {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: center;
}
.header .header-content .header-content__main .header-content__main--des {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 16px;
}
.header .header-content .header-content__main .header-content__main--is-email {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  padding-top: 24px;
}
.header .header-content .header-content__main .header-content__main--action {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-input {
  width: 412px;
  height: 56px;
  position: relative;
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-input span {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
  pointer-events: none;
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-input .header-content__main--input {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem 0.5rem;
  background-color: rgba(22, 22, 22, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-input .header-content__main--input:focus ~ span {
  font-size: 0.75rem;
  top: 18px;
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-btn {
  width: 166px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  background: rgb(229, 9, 20);
  border-radius: 0.25rem;
  transition: all 0.2s linear;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-btn .header-content__main--btn-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-btn .header-content__main--btn-icon {
  color: white;
  position: relative;
  top: 1px;
}
.header .header-content .header-content__main .header-content__main--action .header-content__main--wrap-btn:hover {
  cursor: pointer;
  background: rgb(193, 17, 25);
}

.main .main-header {
  padding: 67px 0;
  background-color: #000;
  border-top: 0.5rem solid rgb(35, 35, 35);
}
.main .main-header .wrap-content-main-header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main-header .wrap-content-main-header .main-header__info .main-header__info--title {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  padding-bottom: 16px;
}
.main .main-header .wrap-content-main-header .main-header__info .main-header__info--des {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.main .main-header .wrap-content-main-header .main-header__tv {
  position: relative;
}
.main .main-header .wrap-content-main-header .main-header__tv .main-header__tv--img {
  width: 579px;
  height: 434px;
  object-fit: contain;
  position: relative;
  z-index: 10;
}
.main .main-header .wrap-content-main-header .main-header__tv .main-header__tv--video {
  position: absolute;
  top: 50%;
  left: 54%;
  width: 480px;
  height: 270px;
  transform: translate(-50%, -50%);
}
.main .wrap-content-header {
  padding: 67px 0;
  background-color: #000;
  padding: 31px 0;
  border-top: 0.5rem solid rgb(35, 35, 35);
}
.main .wrap-content-header .content-header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .wrap-content-header .content-header .content-header__move {
  position: relative;
}
.main .wrap-content-header .content-header .content-header__move .content-header__move--img {
  width: 579px;
  height: 434px;
  object-fit: contain;
}
.main .wrap-content-header .content-header .content-header__move .content-header__move--action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.6rem 0.75rem;
  background-color: #000;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
  z-index: 1;
  min-width: 15rem;
  width: 54.6%;
}
.main .wrap-content-header .content-header .content-header__move .content-header__move--action .content-header__move--action-img {
  width: 57px;
  height: 80px;
  object-fit: contain;
}
.main .wrap-content-header .content-header .content-header__move .content-header__move--action .content-header__move--action-text .content-header__move--action-text-title {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.main .wrap-content-header .content-header .content-header__move .content-header__move--action .content-header__move--action-text .content-header__move--action-text-des {
  font-size: 0.875rem;
  font-weight: 400;
  color: #0071eb;
}
.main .wrap-content-header .content-header .content-header__move .content-header__move--action .content-header__move--action-loading {
  width: 48px;
  height: 60px;
  object-fit: contain;
}
.main .wrap-content-header .content-header .content-header__info .content-header__info--title {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
.main .wrap-content-header .content-header .content-header__info .content-header__info--des {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  padding-top: 16px;
}

/*# sourceMappingURL=style.css.map */
